      <div class="footer">
          <div class="login-button">
             {{#if user}}
                 <p class="login-button-item">
                    <a href="/users/logout">Logout</a>
                </p>
            {{else}}
              
                 <p class="login-button-item">
                    <a href="/users/login">Login</a>
                </p>
               
            {{/if}}
          </div>
           


        
          <ul>
            <li>Maxine Freeman</li>
            <li>|</li>
            <li>maxinefreemanart@gmail.com</li>
            <li>|</li>
            <li>Chicago, IL</li>
          </ul>

      
        </div> 