<h1>Add a gallery photo</h1>

<form action="/gallery" method="POST">
    <input type="text" placeholder="Image URL" name="image url">
    <input type="text" placeholder="painting title" name="painting_title">
    <input type="text" placeholder="painting style" name="painting_style">
    <input type="text" placeholder="date" name="date">
</form>