<div class="page">
    <div class="contactpage">
        <div class="contactmain"> 
            <h1>Interested in exisiting piece of art? A Custom piece?</h1>
            <h1>Contact Maxine Freeman below!</h1>
            <a href="#contact"><i class="fas fa-arrow-circle-down"></i></a>
        </div>
        
        
        <div class="contact" id="contact">
                <div class="contactform">
                <h2>Contact Maxine</h2><br>
                <form action="/contact" method="POST">
                    <input type="text" name="name" placeholder="Name" required><br>
                    <input type="email" name="email" placeholder="Email" required><br>
                    <textarea type="text" name="message" placeholder="Message" required></textarea><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

    {{> _footer}}
      </div>
</div>