<!DOCTYPE HTML>

<html>
    <head>
        <title>Maxine Freeman Art</title>
       <link href="../public/css/style1.css" rel="stylesheet"> 
       <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light|Raleway|Allura" rel="stylesheet">
       <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    </head>
<body>
<!-- <div class="container-fluid header">
  <h1 class="title">Maxine Freeman <span>Art</span></h1>
</div> -->

<div class="top">
    <div class="overlay">
       <div class="menu">
        <ul class="menu-items">
          <li class="item">
            <a href="/gallery">GALLERY</a>
          </li>
          <li class="item">
            <a href="/contact">CONTACT</a>
          </li>
        </ul>
        <i class="fas fa-bars" id="bar"></i>
      </div>
    </div>
  </div>

<!-- 
<div class="galleryhead">
  <div class="galleryoverlay">
    <h1>Gallery</h1>
  </div>
</div> -->


<!------------------- Gallery----------------------->

<div class="gallery">
      <div class="imagecon">
            <ul class="caption">
                 <li>Acrylic on Canvas</li>
                  <li>Swirl of Joy</li>
                  <li>2018</li>
                </ul>
              <img src="../public/images/swirlofjoy.jpg" alt="Pic" class="image">
          </div>
          <div class="imagecon">
                <ul class="caption">
                    <li>Acrylic on Canvas</li>
                    <li>Blazing Inferno</li>
                    <li>2018</li>
                  </ul>
              <img src="../public/images/blazinginferno.jpg" alt="Pic" class="image">
          </div>
          <div class="imagecon">
              <img src="../public/images/loveher.jpg" alt="Pic" class="image">
          </div>
          <div class="imagecon">
              <img src="../public/images/lulu.jpg" alt="Pic" class="image">
          </div>
          <div class="imagecon">
              <img src="../public/images/majicafterthedeluge.jpg" alt="Pic" class="image">
            </div>
        <div class="imagecon">
            <img src="../public/images/lulu2.jpg" alt="Pic" class="image">
          </div>
        <div class="imagecon">
            <img src="../public/images/sunonthe.jpg" alt="Pic" class="image">
          </div> 
  </div>
  


<!-- 
<div class="container main gallery">
  <div class="container">
  <div class="container">
  <div id="masonry">
    <div class="item figure">
          <img src="../public/images/colorstudied.jpg" class="img-fluid" alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Acrylic on Canvas</li>
              <li>Color Studied</li>
              <li>2018</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/swirlofjoy.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Acrylic on Canvas</li>
              <li>Swirl of Joy</li>
              <li>2018</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/blazinginferno.jpg" class="img-fluid" alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Acrylic on Canvas</li>
              <li>Blazing Inferno</li>
              <li>2018</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/colorworld.jpg" class="img-fluid" alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Acrylic on Canvas</li>
              <li>Color World</li>
              <li>2017</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/insocal.jpg" class="img-fluid" alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Acrylic on Canvas</li>
              <li>In SoCal</li>
              <li>2017</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/loveher.jpg" class="img-fluid" alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Oil on Canvas</li>
              <li>Love Her</li>
              <li>2015</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/lulu.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Acrylic on Canvas</li>
              <li>Little Lulu My Love</li>
              <li>2016</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/mirim.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Acrylic on Canvas</li>
              <li>Mirim</li>
              <li>2015</li>
            </ul>

          </figcaption>
    </div>

    <div class="item">
          <img src="../public/images/primativetime.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Acrylic on Canvas</li>
              <li>Primative Time</li>
              <li>2018</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/redpain.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Oil on Canvas</li>
              <li>Red Pain</li>
              <li>2017</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/scenefromcastle.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Acrylic on Canvas</li>
              <li>Scene from a Castle</li>
              <li>2018</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/lulu2.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Oil on Canvas</li>
              <li>Little Lulu</li>
              <li>2016</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/womeninflux.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Oil on Yupo</li>
              <li>Women in Flux</li>
              <li>2018</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/wisewomen.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Oil on Yupo</li>
              <li>Wise Women</li>
              <li>2017</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/untitled.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Acrylic on Canvas</li>
              <li>Unititled</li>
              <li>2018</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/unstilllife.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Acrylic on Canvas</li>
              <li>Unstill Life</li>
              <li>2018</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/theswamp.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Acrylic and oil crayon on Canvas</li>
              <li>The Swamp</li>
              <li>2017</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/sunonthe.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Acrylic on Canvas</li>
              <li>Sun on the Mekong</li>
              <li>2018</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/stilllifeinblue.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Oil on Canvas</li>
              <li>Still Life in Blue</li>
              <li>2013</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/sheishere.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Oil on Yupo</li>
              <li>She is Here</li>
              <li>2018</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/she2015.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Oil on Canvas</li>
              <li>She 2</li>
              <li>2015</li>
            </ul>

          </figcaption>
    </div>
    <div class="item">
          <img src="../public/images/scenefromcastle.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Acrylic on Canvas</li>
              <li>Scene from a Castle</li>
              <li>2016</li>
            </ul>

          </figcaption>
    </div>
        <div class="item">
          <img src="../public/images/man2.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Acrylic on Canvas</li>
              <li>Man 2</li>
              <li>2016</li>
            </ul>

          </figcaption>
    </div>
        <div class="item">
          <img src="../public/images/nate.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Acrylic on Canvas</li>
              <li>Nate</li>
              <li>2017</li>
            </ul>

          </figcaption>
    </div>
        <div class="item">
          <img src="../public/images/majicafterthedeluge.jpg"  alt="responsive image">
          <figcaption class="figure-caption">
            <ul>
              <li>Oil on Yupo</li>
              <li>Majic After the Deluge</li>
              <li>2017</li>
            </ul>

          </figcaption>
    </div>

  </div>
</div>
</div>

  
</div>

<div class="footer">
    <div class="stripe">
      <ul>
        <li>Maxine Frankel</li>
        <li>|</li>
        <li>maxinefrankelart@gmail.com</li>
        <li>|</li>
        <li>Chicago, IL</li>
      </ul>
    </div>
  </div>
  
  </div> -->




  
  <script src="../public/js/gallery.js"></script>
  <script src="../node_modules/jquery/dist/jquery.js"></script>
  <script src="../node_modules/popper.js/dist/umd/popper.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  

</body>
</html>