<!DOCTYPE HTML>

<html>
 <head>
   <link href="../public/css/style1.css" rel="stylesheet"> 
   <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light|Raleway" rel="stylesheet">
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid header">
	<h1 class="title">Maxine Frankel <span>Art</span></h1>
</div>

<div class="top">
  <div class="overlay">
   <div class="menu">  
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" id="active" href="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">GALLERY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">CONTACT</a>
      </li>
    </ul>
   </div>
 </div>
</div>

<!-- MAIN -->

<div class="container main">
	<div class="row">
		<div class="col-md-5">
			<div class="container img-container mirim">
				<img src="../public/images/mirim.jpg" class="image-fluid" alt="responsive image">
			</div>
		</div>
		<div class="col-md-7">
			<div class="container about">
				<div class="one">
					<p>There is nothing that can surpass the creative energy I feel when I paint.  I paint in a flow of authentic expression, connecting with myself as an artist and a woman.  As an abstract painter, I feel a sense of awe as I explore methods, techniques, and my own feelings. </p>
				</div>
				<div class="two">
					<p>Creativity doesn't always happen smoothly.  At times I struggle with the painting process.  During these times, I need to remember my flow and the happiness of being in the moment while I paint.  Interestingly, mistakes can be exciting for they often result in the discovery of new directions that are very thrilling!  I am so grateful that I have this personal mirror in which I see, learn and evolve.</p>
				</div>
				<div class="three">
					<p>My paintings vary in subject and style-some were created to push the boundaries of women- some are reactions to my past - some are  reactions to the political climate I live in.  Many, however, are personal responses to beauty and happiness.  I hope you can enjoy all of them!</p>   
				</div>
				<br>
				<div class="caption">
			         <ul>
				        <li>Miriam </li>
				        <li>Acrylic on canvas</li>
				        <li>30x40</li>
				        <li>2014</li>
				     </ul> 
				</div>
			</div>

		</div>

   </div>
</div>

  <div class="footer">
    <div class="stripe">
      <ul>
        <li>Maxine Frankel</li>
        <li>|</li>
        <li>maxinefrankelart@gmail.com</li>
        <li>|</li>
        <li>Chicago, IL</li>
      </ul>
    </div>
  </div>
  
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>
</html>