<!DOCTYPE HTML>

<html>
 <head>
   <link href="../public/css/style.css" rel="stylesheet"> 
   <link href="https://fonts.googleapis.com/css?family=Limelight|Rammetto+One|Shadows+Into+Light" rel="stylesheet">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
 <!-- header-->
  <header>
  <div class="head">
    <h1 class="title">Maxine Frankel <span>Art</span></h1>
  </div>
  </header>
  
<!-- Navigation-->
  <div class="navigation">
    <nav>
      <ul class="menu">
        <li><a href="#">Welcome</a></li>
        <li><a href="#" class="active">About</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
  <!--Main Content-->
  <main>
    <div class="miriam">
      <img src="https://static.wixstatic.com/media/b6139d_e4df1730afb5434c9c176c711c4ab725~mv2_d_2503_3115_s_4_2.jpg/v1/fill/w_374,h_543,al_c,q_80,usm_0.66_1.00_0.01/b6139d_e4df1730afb5434c9c176c711c4ab725~mv2_d_2503_3115_s_4_2.webp" class="image-fluid" alt="responsive image">
    </div>
    <div class="intro-container">
 
      <div class="one">
        <p>There is nothing that can surpass the creative energy I feel when I paint.  I paint in a flow of authentic expression, connecting with myself as an artist and a woman.  As an abstract painter, I feel a sense of awe as I explore methods, techniques, and my own feelings. </p>
        </div>
      <div class="two">
      <p>Creativity doesn't always happen smoothly.  At times I struggle with the painting process.  During these times, I need to remember my flow and the happiness of being in the moment while I paint.  Interestingly, mistakes can be exciting for they often result in the discovery of new directions that are very thrilling!  I am so grateful that I have this personal mirror in which I see, learn and evolve.</p>
      </div>
      <div class="three">
      <p>My paintings vary in subject and style-some were created to push the boundaries of women- some are reactions to my past - some are  reactions to the political climate I live in.  Many, however, are personal responses to beauty and happiness.  I hope you can enjoy all of them!</p>   
       </div>
    
      </div>
  <div class="caption">
       <ul>
        <li>Miriam </li>
        <li>Acrylic on canvas</li>
        <li>30x40</li>
        <li>2014</li>
      </ul> 
    </div>
  </main>
  
  
  <footer>
  </footer>

</body> 
  
  
</html>