<!DOCTYPE HTML>

<html>
 <head>
    <title>Maxine Freeman Art</title>
   <link href="../public/css/style1.css" rel="stylesheet"> 
   <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light|Raleway|Allura|Limelight|Poiret+One" rel="stylesheet">
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"  integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="../node_modules/jquery/dist/jquery.js"></script>
</head>
<body>

    <div class="top">
      <div class="overlay">
       <div class="logo">
          <img class="logo" src="../public/images/mfart.png" alt="logo">
       </div> 
         <div class="menu">
          <ul class="menu-items">
            <li class="item" id="item-gallery">
              <a href="#">GALLERY</a>
            </li>
            <li class="item" id="item-contact">
              <a href="#">CONTACT</a>
            </li>
          </ul>
          <i class="fas fa-bars" id="bar"></i>
        </div>
      </div>
    </div>
 
    <!-----------MAIN---------->

<div class="mainpage">

 
<div class="mainhead parallax">
  <h1>Maxine Freeman Art</h1>
</div>

  <div class="main"> 
    <div class="maincontent">    
        <div class="about">
           <p>There is nothing that can surpass the creative energy I feel when I paint. I paint in a flow of authentic expression, connecting with myself as an artist and a woman.  As an abstract painter, I feel a sense of awe as I explore methods, techniques, and my own feelings. </p>
           
           <p>Creativity doesn't always happen smoothly.  At times I struggle with the painting process.  During these times, I need to remember my flow and the happiness of being in the moment while I paint.  Interestingly, mistakes can be exciting for they often result in the discovery of new directions that are very thrilling!  I am so grateful that I have this personal mirror in which I see, learn and evolve.</p>
         
            <p>My paintings vary in subject and style-some were created to push the boundaries of women- some are reactions to my past - some are  reactions to the political climate I live in.  Many, however, are personal responses to beauty and happiness.  I hope you can enjoy all of them!</p>   
          
          <!-- <div class="caption1">
                 <ul>
                  <li>Miriam </li>
                  <li>Acrylic on canvas</li>
                  <li>30x40</li>
                  <li>2014</li>
               </ul> 
          </div> -->
  </div>
</div>
<div class="showings">
  <h1>Upcoming Showcases!</h1>
  <ul>
    <li></li>
    <li></li>
  </ul>
</div>


</div>
<div class="footer">
    <ul>
      <li>Maxine Frankel</li>
      <li>|</li>
      <li>maxinefrankelart@gmail.com</li>
      <li>|</li>
      <li>Chicago, IL</li>
    </ul>
  </div> 
</div>

<!--------------GALLERY-------------->

<div class="gallerypage">
  <div class="gallery"> 
    <h1>Paintings by Maxine</h1>
    

     <div class="imagecon lightbox_trigger">
            <ul class="caption">
                <li>Acrylic on Canvas</li>
                <li>Swirl of Joy</li>
                <li>2018</li>
            </ul>
            <img src="../public/images/swirlofjoy.jpg" alt="Pic" class="image">
        </div>
        <div class="imagecon lightbox_trigger">
              <ul class="caption">
                  <li>Acrylic on Canvas</li>
                  <li>Blazing Inferno</li>
                  <li>2018</li>
                </ul>
            <img src="../public/images/blazinginferno.jpg" alt="Pic" class="image">
        </div>
        <div class="imagecon lightbox_trigger">
            <ul class="caption">
                <li>Acrylic on Canvas</li>
                <li>Love Her</li>
                <li>2018</li>
              </ul>
            <img src="../public/images/loveher.jpg" alt="Pic" class="image">
        </div>
        <div class="imagecon lightbox_trigger">
            <img src="../public/images/lulu.jpg" alt="Pic" class="image">
        </div>
        <div class="imagecon">
            <img src="../public/images/majicafterthedeluge.jpg" alt="Pic" class="image">
          </div>
      <div class="imagecon">
          <img src="../public/images/lulu2.jpg" alt="Pic" class="image">
        </div>
       <div class="imagecon">
          <img src="../public/images/sunonthe.jpg" alt="Pic" class="image">
        </div> 
        <div class="imagecon">
            <img src="../public/images/scenefromcastle.jpg" alt="Pic" class="image">
          </div> 
          <div class="imagecon">
              <img src="../public/images/womeninflux.jpg" alt="Pic" class="image">
            </div> 
    </div> 




    <div class="footer">
        <ul>
          <li>Maxine Frankel</li>
          <li>|</li>
          <li>maxinefrankelart@gmail.com</li>
          <li>|</li>
          <li>Chicago, IL</li>
        </ul>
      </div> 
</div>

<!--------CONTACT------>

<div class="contactpage" id="contactpage">
    <div class="contactmain"> 
        <h1>Interested in exisiting piece of art? A Custom piece?</h1>
        <h1>Contact Maxine Freeman below!</h1>
        <a href="#contact"><i class="fas fa-arrow-circle-down"></i></a>
    </div>
    
    
    <div class="contact" id="contact">
            <div class="contactform">
              <h2>Contact Maxine</h2><br>
              <form action="/contact" method="POST">
                  <input type="text" name="name" placeholder="Name" required><br>
                  <input type="email" name="email" placeholder="Email" required><br>
                  <textarea type="text" name="message" placeholder="Message" required></textarea><br>
                  <input type="submit" value="Submit">
              </form>
          </div>
      </div>
    
      <div class="footer">
          <ul>
            <li>Maxine Frankel</li>
            <li>|</li>
            <li>maxinefrankelart@gmail.com</li>
            <li>|</li>
            <li>Chicago, IL</li>
          </ul>
        </div>   
    
      </div>

  
<script src="../public/js/gallery.js"></script>
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>


</body>
</html>