
<div class="page">

<div class="mainpage">
<div class="mainhead parallax">
  <h1>Maxine Freeman Art</h1>
</div>

  <div class="main"> 
    <div class="maincontent">    
        <div class="about">
           <p>There is nothing that can surpass the creative energy I feel when I paint. I paint in a flow of authentic expression, connecting with myself as an artist and a woman.  As an abstract painter, I feel a sense of awe as I explore methods, techniques, and my own feelings. </p>     
           <p>Creativity doesn't always happen smoothly.  At times I struggle with the painting process.  During these times, I need to remember my flow and the happiness of being in the moment while I paint.  Interestingly, mistakes can be exciting for they often result in the discovery of new directions that are very thrilling!  I am so grateful that I have this personal mirror in which I see, learn and evolve.</p>         
            <p>My paintings vary in subject and style-some were created to push the boundaries of women- some are reactions to my past - some are  reactions to the political climate I live in.  Many, however, are personal responses to beauty and happiness.  I hope you can enjoy all of them!</p>   
       </div>
</div>
<div class="showings">
  <h1>Upcoming Showcases!</h1>
  <ul>
    <li></li>
    <li></li>
  </ul>
</div>
</div>
{{> _footer}}
</div>

</div>


  
