<div class="page">

<div class="login">
    <h3>Account Registration</h3>
    <form action="/users/register" method="POST">
        <input type="text" name="name" placeholder="name" value='{{name}}'>
        <input type="text" name="email" placeholder="email" value='{{email}}'>
        <input type="password" name="password" placeholder="password" value='{{password}}'>
        <input type="password" name="password2" placeholder="confirm password">
        <button type="submit">Submit</button>
    </form>
</div>
</div>